# Java / Maven
target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Node / Angular
node_modules/
dist/
*.log

# Secrets
.env
.env.local
*.pem
*.key

# OS
Thumbs.db
.DS_Store

# Test artifacts
allure-results/
playwright-report/
test-results/
coverage/
.scannerwork/
.sonar/
sonar-reports/