<div class="dashboard">
  @if (activeRole === 'SYSTEM_ADMIN') {
    <app-dashboard-admin></app-dashboard-admin>
  } @else if (activeRole === 'SUPPLIER_ADMIN') {
    <app-dashboard-supplier></app-dashboard-supplier>
  } @else if (activeRole === 'SUPPLIER_AGENT') {
    <app-dashboard-agent></app-dashboard-agent>
  } @else if (activeRole === 'SHOP_ADMIN' || activeRole === 'SHOP_AGENT') {
    <app-dashboard-shop></app-dashboard-shop>
  } @else {
    <div class="welcome-section">
      <h1>{{ getGreeting() }}, {{ user?.firstName }} !</h1>
    </div>
  }
</div>
